  <div class="col-form mx-auto text-center">
  <h1>Sign Up</h1>
    <%= form_for(:user, url: users_path) do |f| %>

      <%= f.text_field :username, class: 'form-control', placeholder: 'Username', :required => true %>

      <%= f.text_field :email, class: 'form-control', placeholder: 'Email', :required => true %>

      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
      <p>Signin here <%= link_to "Sign In", new_session_path() %></p>    
  </div>
